# Server secret for JWT signing
JWT_SECRET=supersecret-dormwash-jwt-key

# Google OAuth Credentials
GOOGLE_CLIENT_ID=113222512181-l9msktcrvu5as0ftlt9fm6pimarckdsg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
APP_URL=https://ais-dev-b7piy6v2xy7ztwhi4gnng2-345366805880.asia-east1.run.app
